.email_pas_form {
    width: 440px;
    height: 540px;
    background: #f6f3f3;
    border-radius: 8px;
    box-shadow: 0 0 20px -10px #000;
    margin: calc(50vh - 220px) auto;
    padding: 20px 30px;
    /* max-width: calc(100vw - 40px); */
    /* box-sizing: border-box; */
    position: relative;
}

h2 {
    margin: 10px 0;
    padding-bottom: 30px;
    /* width: 180px; */
    /* color: #78788c; */
    /* border-bottom: 3px solid #78788c; */
    text-align: center;
}

p {
    margin: 30px 0;
    text-align: center;
}

span {
    color: rgb(4, 4, 110);
    cursor: pointer;
}

.customButton {
    background-color: rgb(4, 4, 110);
    width: 100%;
}

.customButton:hover {
    background-color: rgb(4, 4, 134);
}

.forgotPas {
    padding-bottom: 30px;
    text-align: center;
}

.errorInput {
    border: 1px solid red;
}

.error_wrong p {
    margin: 0;
    text-align: left;
    color: red;
}


/* You can also customize other styles for the error input field */


/* .errorInput:focus {
    outline-color: red;
} */