* {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 800px;
}

.todo {
  height: 50px;
  display: flex;
  padding: 15 px;
  border: 2px solid teal;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  position: relative;
}

.tree-dots-button {
  cursor: pointer;
  transition: color transform 500 ms ease;
}

.tree-dots-button:hover {
  color: #8fd1a2;
  transform: scale(1.5);
}

.tree-dots {
  position: absolute;
  top: 30px;

  width: 150px;
  min-height: 100px;
  background: #faf6f6;
  -webkit-box-shadow: 5px 2px 15px -7px #000000; 
box-shadow: 5px 2px 15px -7px #000000;
z-index: 1000;
}

