.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.weather {
    flex: 1;
    width: 900px;
    background: rgb(163, 204, 238);
    margin: 0 auto;
}

.form_weather {
    background: #f6f3f3;
    box-shadow: 0 0 20px -10px #000;
}

.form_input_weather {
    width: 700px;
    border-radius: 35px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #fffbfb;
    box-shadow: 0 0 20px -10px #000;
}

.searchIcon {
    font-size: 1.5rem;
    color: #555;
}

.error_wrong p {
    margin: 0;
    text-align: left;
    color: red;
}

.errorMessage {
    font-size: 24px;
    margin: 0 auto;
    text-align: center;
    color: red;
}